
.navbar {
    background-color: white;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.1);
    height: 3rem;
}

.navbar-collapse {
    background-color: white;
}

button.navbar-toggler.navbar-toggler-right {
    border-radius: 0px;
    border-color: #707070;
}

.navbar-light span.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='black' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  color: white;
}

.nav-link {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    color: #707070;
}

.navbar .navbar-collapse .navbar-nav li > a:hover {
    font-size: 19px;
    border-bottom: 3px solid #3d3d3d;
}


#jumbo-intro {
    background-color: white;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #3d3d3d;
    overflow-x: hidden;
}

.spacer {
    height: 5rem;;
}

.small-spacer {
    height: 1rem;
}

h1 {
    font-family: 'Lora', serif;
    color: #707070;
    font-size: 48px;
    font-weight: 400;
}

hr {
    border-top: 0.1rem solid #d8574a;
}

#info {
    font-family: 'Source Sans Pro', sans-serif;
    color: #3d3d3d;
    font-weight: 400;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

#link {
    text-decoration: underline;
}


ul {
    display:inline-block;
    vertical-align:middle;
}

h2 {
    font-family: 'Lora', serif;
    color: #707070;
    font-size: 24px;
    font-weight: 400;
}

h3 {
    font-family: 'Source Sans Pro', sans-serif;
    color: #707070;
    font-size: 20px;
    font-weight: 600;
}

#imp {
    font-weight: 600;
    background-color: #ffe0d9;
}

 #second-para {
     margin-top: -0.5rem;
 }

 #list-spacing {
    margin-top: 0.5rem;
 }

.figure-caption {
     font-size: 14px;
 }

.card:hover {
    transform: scale(1.03);
}

.card-body {
    margin-bottom: -1rem;
}

.card {
    border: none;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.1);
}


.card-text {
    font-size: 16px;
}

.quote {
    font-family: 'Lora', serif;
    color: #707070;
    font-size: 21px;
    font-weight: 400;
}

#page-footer {
     background-color: white;
     padding-top: 1rem;
     padding-bottom: 1rem;
     margin: 0px;
 }

 #text-footer {
     margin: 0px;
     font-size: 16px;
 }
