
.navbar {
    background-color: white;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.1);
    height: 3rem;
}

.navbar-collapse {
    background-color: white;
}

button.navbar-toggler.navbar-toggler-right {
    border-radius: 0px;
    border-color: #7E787A;
}

.navbar-light span.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='black' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  color: white;
}

.nav-link {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    color: #7E787A;
}

.navbar .navbar-collapse .navbar-nav li > a:hover {
    font-size: 19px;
    border-bottom: 3px solid #3d3d3d;
}


#jumbo-intro {
    background-color: white;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    color: #3d3d3d;
    overflow-x: hidden;
}

.spacer {
    height: 5rem;;
}

.small-spacer {
    height: 1rem;
}

h1 {
    font-family: 'Gaegu', cursive;
    letter-spacing: -0.1rem;
    color: #E33800;
    font-weight: bold;
    font-size: 54px;
}

hr {
    border-top: 0.08rem solid #7E787A;
}

#info {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    color: #7E787A;
    line-height: 1.75;
}

#overview {
    font-size: 20px;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

#link {
    text-decoration: underline;
}

#cta {
    background-color: #7E787A;
    border: none;
    border-radius: 18px;
    padding: 0.5rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    color: white;
    font-weight: bold;
}

ul {
    display:inline-block;
    vertical-align:middle;
}

h2 {
    font-family: 'Quicksand', sans-serif;
    color: #7E787A;
    font-size: 28px;
}

#imp {
    font-weight: bold;
}

 #second-para {
     margin-top: -0.8rem;
 }

.figure-caption {
     font-size: 14px;
 }

.table {
    font-size: 16px;
    line-height: 1.1rem;
}

.table-borderless > tbody > tr > td {
    border: none;
}

tr td {
    margin: 0 !important;
    padding: 0.5rem !important;
}

 #page-footer {
     background-color: white;
     padding-top: 1rem;
     padding-bottom: 1rem;
     margin: 0px;
 }

 #text-footer {
     margin: 0px;
     font-size: 16px;
     font-weight: bold;
 }
