
.navbar {
    background-color: white;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.1);
    height: 3rem;
}

.navbar-collapse {
    background-color: white;
}

button.navbar-toggler.navbar-toggler-right {
    border-radius: 0px;
    border-color: #7E787A;
}

.navbar-light span.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='black' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  color: white;
}

.nav-link {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    color: #7E787A;
}

.navbar .navbar-collapse .navbar-nav li > a:hover {
    font-size: 19px;
    border-bottom: 3px solid #3d3d3d;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    color: #3d3d3d;
    overflow-x: hidden;
}

.spacer {
    height: 5rem;;
}

.small-spacer {
    height: 1rem;
}

#intro-section {
    background-color: #ffffff;
    padding-bottom: 0rem;
    padding-top: 0.5rem;
}

h1 {
    font-family: 'Kalam', cursive;
    color: #E33800;
    font-weight: bold;
    font-size: 44px;
}

#highlight {
    font-family: 'Quicksand', sans-serif;
    color: #7E787A;
}

h2 {
    font-family: 'Kalam', cursive;
    color: #E33800;
    font-size: 36px;
    margin-bottom: 1rem;
}


.card:hover {
    transform: scale(1.03);
}

.card-body {
    margin: -0.5rem;
}

h3 {
    font-family: 'Quicksand', sans-serif;
    color: #7E787A;
    font-size: 22px;
}

#header-container {
    padding-top: 0rem;
    padding-bottom: 0rem;
    background-color: #ffffff;
}

.card-text {
    margin-top: -0.2rem;
    font-size: 18px;
    line-height: 1.25;
}

#project-container {
    padding-top: 0rem;
    padding-bottom: 0rem;
}

#dummy-card {
    visibility: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

#link {
    text-decoration: underline;
}

.card {
    border-radius: 0px;
    border: none;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.1);
}

.card-img-top {
    border-radius: 0px;
}

#page-footer {
    background-color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: 0px;
}

#text-footer {
    margin: 0px;
    font-size: 16px;
    font-weight: bold;
}
